   <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://cdn.glitch.com/cd441c7f-4758-44d8-96a5-9f223a9d3cc5%2FCopy%20of%20hazl%20(2).png?v=1586285681602" height="60px">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

    
     
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        
<div class="buttons">
 <% if(!user.username){ %>
  <a class="button is-primary" href="/door/register">
            <strong>Register</strong>
          </a>
          <a class="button is-light" href="/door/login">
            Log in
          </a>
  <%  } else { %>
<a class="button is-primary" href="/app">
            <strong>Open</strong>
          </a>
          
  <% } %>
  
          
        </div>
      </div>
    </div>
  </div>
</nav>